* {margin: 0; padding: 0; box-sizing: border-box;}
body {height: 100%; width: 100%; font-family: gilroy; background-color: black !important;}
:root {--backgroundColor--: black;}
#header-section {color: white !important;}
#main {  margin: 0 auto;}
.navbar-nav .nav-item .nav-link {color: white !important;}

/* custom classes */
.clr-light-black {color: rgb(106, 106, 106);}
.clr-bg-black {/* From https://css.glass */
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
border: 1px solid rgba(255, 255, 255, 0.5);}
.box-height-sm{ height: 200px;}
.box-radius {border-radius: 30px;}
.icon-size{ font-size: 50px; }
.clr-blue{ color: blue;}
.box-sm-border-clr{border-color: #2b2b2b54;}
.box-sm-bg-clr{ background-image: linear-gradient(to right,#1C1C1C , #181818); }
:root { --animate-delay: 2s;}
/* custom classes */
#main_home, #sevices-main, #main-contact-us, #hero-section { padding-top: 100px; }
/* hero section styles start */
#hero-section { justify-content: space-between; }

.hero-image img {width: 200px;}
.image-content {border-radius: 30px; border: 1px solid; padding-top: 15px;}
a.section-logo img {rotate: -90deg;}
.hero-about-content{ margin: 0 auto;}
/* hero section styles end */

.cursor{ height: 20px; width: 20px; border-radius: 50%;  background-color: white;}
  
 .contact-form legend { border: none; }
 .contact-form .form-control {  background-color: transparent; border: 1px solid white;      }
 .contact-form .form-control::placeholder {   color: white;}
.icon-social{ border-radius: 50px; font-size: 30px; height: 80px; width: 80px; text-align: center;}
i.icon-social:hover { background-color:lightgrey !important; color:black !important;}
*,
*::after,
*::before{ box-sizing: border-box; padding: 0; margin: 0;}
.html{ font-size: 62.5%;}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: linear-gradient(to right,#1C1C1C , #181818);
    color: #2600ff;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #001eff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #ffffff;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding: 100px;
        background: linear-gradient(to right,#1C1C1C , #181818);
        height: 100vh;
        max-width: 500px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}