* {margin: 0; padding: 0; box-sizing: border-box;}
body {height: 100%; width: 100%; font-family: gilroy; background-color: black !important;}
:root {--backgroundColor--: black;}
#header-section {color: white !important;}
#main {  margin: 0 auto;}
.navbar-nav .nav-item .nav-link {color: white !important;}

/* custom classes */
.clr-light-black {color: rgb(106, 106, 106);}
.clr-bg-black {/* From https://css.glass */
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
border: 1px solid rgba(255, 255, 255, 0.5);}
.box-height-sm{ height: 200px;}
.box-radius {border-radius: 30px;}
.icon-size{ font-size: 50px; }
.clr-blue{ color: blue;}
.box-sm-border-clr{border-color: #2b2b2b54;}
.box-sm-bg-clr{ background-image: linear-gradient(to right,#1C1C1C , #181818); }
:root { --animate-delay: 2s;}
/* custom classes */

/* hero section styles start */
#hero-section { justify-content: space-between; }

.hero-image img {width: 200px;}
.image-content {border-radius: 30px; border: 1px solid; padding-top: 15px;}
a.section-logo img {rotate: -90deg;}
.hero-about-content{ margin: 0 auto;}
/* hero section styles end */

.cursor{ height: 20px; width: 20px; border-radius: 50%;  background-color: white;}
  
        .contact-form legend {
            border: none;
        }
        .contact-form .form-control {
            background-color: transparent;
            border: 1px solid white;
            
        }
        .contact-form .form-control::placeholder {
            color: white;
        }
