* {margin: 0; padding: 0; box-sizing: border-box;}
body {height: 100%; width: 100%; font-family: gilroy; background-color: black !important;}
:root {--backgroundColor--: black;}
#header-section {color: white !important;}
#main { width: 1200px; margin: 0 auto;}
.navbar-nav .nav-item .nav-link {color: white !important;}

/* custom classes */
.clr-white {color: white !important;}
.clr-light-black {color: rgb(106, 106, 106);}
.clr-bg-black {background-color: #171717;}
.box-height {height: 250px;}
.box-height-sm{ height: 200px;}
.box-radius {border-radius: 30px;}
.icon-size{ font-size: 50px; }
.ctm-width{ width: 48%;}
.ctm-sm-width{ width: 30%;}
.box-margin-btm{ margin-bottom: 50px;}
.clr-blue{ color: blue;}
.box-sm-border-clr{border-color: #2b2b2b54;}
.box-gradient-clr{ background-image: linear-gradient(to right, #202020 , #171717);}
:root { --animate-delay: 2s;}
/* custom classes */

/* hero section styles start */
#hero-section { justify-content: space-between; }

.hero-image img {width: 200px;}
.image-content {border-radius: 30px; border: 1px solid; padding-top: 15px;}
a.section-logo img {rotate: -90deg;}
.hero-about-content{ margin: 0 auto;}
/* hero section styles end */


.exp-sm-container{ background-color: aliceblue; }
/* experience section style ends */